IoT_MiniLab/nodered_json.json
[{"id":"d92a1a39.6a7b48","type":"ibmiot in","z":"a31e1337.56d028","authentication":"apiKey","apiKey":"5da038f8.f7db88","inputType":"evt","deviceId":"Pi","applicationId":"","deviceType":"MyIoTDevice","eventType":"status","commandType":"","format":"json","name":"fromPi","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","qos":"0","x":120.5,"y":113,"wires":[["c2b83296.ffb638","294b99f6.74605e"]]},{"id":"c2b83296.ffb638","type":"debug","z":"a31e1337.56d028","name":"","active":false,"console":"false","complete":"false","x":390,"y":100,"wires":[]},{"id":"e82682b0.aebff","type":"ibmiot out","z":"a31e1337.56d028","authentication":"apiKey","apiKey":"5da038f8.f7db88","outputType":"cmd","deviceId":"Pi","deviceType":"MyIoTDevice","eventCommandType":"MyIoTDeviceCmd","format":"json","data":"msg.payload","qos":"0","name":"toPi","service":"registered","x":650,"y":340,"wires":[]},{"id":"294b99f6.74605e","type":"function","z":"a31e1337.56d028","name":"ParseData","func":"\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":380,"wires":[["4f0a3635.5d6a58"]]},{"id":"967af215.3fb4c8","type":"inject","z":"a31e1337.56d028","name":"default load","topic":"MyIoTDeviceCmd","payload":"{\"temp\":\"39.1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":624.5,"y":167,"wires":[["4f0a3635.5d6a58"]]},{"id":"4f0a3635.5d6a58","type":"switch","z":"a31e1337.56d028","name":"","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"40","vt":"num"},{"t":"lte","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":388.5,"y":381,"wires":[["e82682b0.aebff"],["10be0337.e56e7d"]]},{"id":"10be0337.e56e7d","type":"debug","z":"a31e1337.56d028","name":"","active":true,"console":"false","complete":"false","x":527.5,"y":474,"wires":[]},{"id":"5da038f8.f7db88","type":"ibmiot","z":"","name":"arpitapikeyn","keepalive":"60","serverName":"dzj2si.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]
