IoT_MiniLab/nodered_json.json
[{"id":"d92a1a39.6a7b48","type":"ibmiot in","z":"a31e1337.56d028","authentication":"apiKey","apiKey":"5da038f8.f7db88","inputType":"evt","deviceId":"Pi","applicationId":"","deviceType":"MyIoTDevice","eventType":"status","commandType":"","format":"json","name":"fromPi","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","qos":"0","x":55.5,"y":222,"wires":[["c2b83296.ffb638","294b99f6.74605e"]]},{"id":"c2b83296.ffb638","type":"debug","z":"a31e1337.56d028","name":"","active":true,"console":"false","complete":"false","x":241,"y":120,"wires":[]},{"id":"e82682b0.aebff","type":"ibmiot out","z":"a31e1337.56d028","authentication":"apiKey","apiKey":"5da038f8.f7db88","outputType":"cmd","deviceId":"Pi","deviceType":"MyIoTDevice","eventCommandType":"MyIoTDeviceCmd","format":"json","data":"msg.payload","qos":"0","name":"toPi","service":"registered","x":846,"y":390,"wires":[]},{"id":"294b99f6.74605e","type":"function","z":"a31e1337.56d028","name":"ParseData","func":"\nreturn msg;","outputs":1,"noerr":0,"x":228,"y":276,"wires":[["4f0a3635.5d6a58"]]},{"id":"967af215.3fb4c8","type":"inject","z":"a31e1337.56d028","name":"default load","topic":"MyIoTDeviceCmd","payload":"{\"temp\":\"41\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":495.5,"y":123,"wires":[["4f0a3635.5d6a58"]]},{"id":"4f0a3635.5d6a58","type":"switch","z":"a31e1337.56d028","name":"","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"40","vt":"num"},{"t":"lte","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":434.5,"y":259,"wires":[["28a4bac1.a7f23e"],["6b58c058.d0574"]]},{"id":"28a4bac1.a7f23e","type":"function","z":"a31e1337.56d028","name":"powerOn","func":"msg.payload={ledpower:\"ON\"};\nreturn msg;","outputs":1,"noerr":0,"x":640.5,"y":229,"wires":[["e82682b0.aebff"]]},{"id":"6b58c058.d0574","type":"function","z":"a31e1337.56d028","name":"powerOff","func":"msg.payload={ledpower:\"OFF\"};\nreturn msg;","outputs":1,"noerr":0,"x":601.5,"y":354,"wires":[["e82682b0.aebff"]]},{"id":"81bcf479.5473b8","type":"debug","z":"a31e1337.56d028","name":"","active":true,"console":"false","complete":"false","x":294.5,"y":633,"wires":[]},{"id":"1bf3887d.964788","type":"ui_switch","z":"a31e1337.56d028","name":"","label":"PowerSwitch","group":"ddab11c0.7d928","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":79.5,"y":532,"wires":[["81bcf479.5473b8","3ea6a529.c8099a"]]},{"id":"e368fefe.3bba28","type":"switch","z":"a31e1337.56d028","name":"powerSwitch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","outputs":2,"x":430.5,"y":504,"wires":[["80b9c817.58d9d8"],["954cf007.ccedb"]]},{"id":"3ea6a529.c8099a","type":"function","z":"a31e1337.56d028","name":"powerCMD","func":"if(msg.payload)\nreturn {payload:\"ON\"};\nelse\nreturn {payload:\"OFF\"};","outputs":1,"noerr":0,"x":244.5,"y":405,"wires":[["e368fefe.3bba28"]]},{"id":"80b9c817.58d9d8","type":"function","z":"a31e1337.56d028","name":"mobBulbSwitchON","func":"msg.payload={bulbpower:\"ON\"};\nreturn msg;","outputs":1,"noerr":0,"x":644.5,"y":464,"wires":[["e82682b0.aebff"]]},{"id":"954cf007.ccedb","type":"function","z":"a31e1337.56d028","name":"mobBulbSwitchOFF","func":"msg.payload={bulbpower:\"OFF\"};\nreturn msg;","outputs":1,"noerr":0,"x":658.5,"y":555,"wires":[["e82682b0.aebff"]]},{"id":"5da038f8.f7db88","type":"ibmiot","z":"","name":"arpitapikeyn","keepalive":"60","serverName":"dzj2si.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ddab11c0.7d928","type":"ui_group","z":"","name":"controlPannel","tab":"a20e6926.23e428","disp":true,"width":"6","collapse":false},{"id":"a20e6926.23e428","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]