IoT_MiniLab/nodered_json.json
[{"id":"d92a1a39.6a7b48","type":"ibmiot in","z":"a31e1337.56d028","authentication":"apiKey","apiKey":"5da038f8.f7db88","inputType":"evt","deviceId":"Pi","applicationId":"","deviceType":"MyIoTDevice","eventType":"status","commandType":"","format":"json","name":"fromPi","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","qos":"0","x":60.5,"y":261,"wires":[["c2b83296.ffb638","294b99f6.74605e"]]},{"id":"c2b83296.ffb638","type":"debug","z":"a31e1337.56d028","name":"","active":false,"console":"false","complete":"false","x":217,"y":170,"wires":[]},{"id":"e82682b0.aebff","type":"ibmiot out","z":"a31e1337.56d028","authentication":"apiKey","apiKey":"5da038f8.f7db88","outputType":"cmd","deviceId":"Pi","deviceType":"MyIoTDevice","eventCommandType":"MyIoTDeviceCmd","format":"json","data":"msg.payload","qos":"0","name":"toPi","service":"registered","x":867,"y":415,"wires":[]},{"id":"294b99f6.74605e","type":"function","z":"a31e1337.56d028","name":"ParseData","func":"\nreturn msg;","outputs":1,"noerr":0,"x":209,"y":362,"wires":[["4f0a3635.5d6a58"]]},{"id":"967af215.3fb4c8","type":"inject","z":"a31e1337.56d028","name":"default load","topic":"MyIoTDeviceCmd","payload":"{\"temp\":\"41\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":457.5,"y":168,"wires":[["4f0a3635.5d6a58"]]},{"id":"4f0a3635.5d6a58","type":"switch","z":"a31e1337.56d028","name":"","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"40","vt":"num"},{"t":"lte","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":441.5,"y":362,"wires":[["28a4bac1.a7f23e"],["6b58c058.d0574"]]},{"id":"28a4bac1.a7f23e","type":"function","z":"a31e1337.56d028","name":"powerOn","func":"msg.payload={power:\"ON\"};\nreturn msg;","outputs":1,"noerr":0,"x":606.5,"y":309,"wires":[["e82682b0.aebff"]]},{"id":"6b58c058.d0574","type":"function","z":"a31e1337.56d028","name":"powerOff","func":"msg.payload={power:\"OFF\"};\nreturn msg;","outputs":1,"noerr":0,"x":610.5,"y":417,"wires":[["e82682b0.aebff"]]},{"id":"3749e569.390efa","type":"mqtt in","z":"a31e1337.56d028","name":"mobileCommand","topic":"iotbulb","qos":"2","broker":"2d5b0d9c.407af2","x":239,"y":542,"wires":[["cc857b6b.f3d56","81bcf479.5473b8"]]},{"id":"cc857b6b.f3d56","type":"function","z":"a31e1337.56d028","name":"MobPowerSwitch","func":"msg.payload={power:msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":577.5,"y":540,"wires":[["e82682b0.aebff"]]},{"id":"81bcf479.5473b8","type":"debug","z":"a31e1337.56d028","name":"","active":true,"console":"false","complete":"false","x":416.5,"y":661,"wires":[]},{"id":"5da038f8.f7db88","type":"ibmiot","z":"","name":"arpitapikeyn","keepalive":"60","serverName":"dzj2si.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"2d5b0d9c.407af2","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]