Visual_Recognition_Minilab/calorie-counter-nodered-flow
[{"id":"41a9ef8f.fe378","type":"http in","z":"d3565091.2025d8","name":"","url":"/foodDetails","method":"get","upload":false,"swaggerDoc":"","x":118,"y":74,"wires":[["902548cb.9c6fc8"]]},{"id":"22bab5a7.2105aa","type":"http response","z":"d3565091.2025d8","name":"","statusCode":"","headers":{},"x":837,"y":120,"wires":[]},{"id":"3119169b.d4f46a","type":"template","z":"d3565091.2025d8","name":"HTML form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Calorie Counter App using Watson Visual Recognition</h1>\n<h2>Simplify your calorie counting using Watson Visual Recognition!</h2>\n<form  action=\"/foodDetails\" method=\"get\">\n    <img src=\"https://i.ytimg.com/vi/x7AB2KXFTEY/hqdefault.jpg\" height='200'/>\n    <img src=\"https://www.ndtv.com/cooks/images/Chicken-Reshmi-Biryani_620.jpg\" height='200'/>\n    <img src=\"http://s3-ap-southeast-1.amazonaws.com/gounesco.com/wp-content/uploads/2017/04/26170512/gj-1024x549.jpg\" height='200'/>\n    <img src=\"http://www.vegrecipesofindia.com/wp-content/uploads/2009/08/dhaba-style-dal-fry-recipe-0.jpg\" height='200'/>\n    <img src=\"http://www.seriouseats.com/recipes/images/2016/03/20160328-channa-masala-recipe-6-1500x1125.jpg\" height='200'/>\n    <img src=\"http://www.ruchiskitchen.com/wp-content/uploads/2016/12/spicy-peanut-noodles-recipe-14.jpg\" height='200'/>\n    <img src=\"https://truffle-assets.imgix.net/67ce1315-104-icecream-dishland2.jpg\" height='200'/>\n    <img src=\"http://cdn2.foodviva.com/static-content/food-images/pineapple-recipes/pineapple-juice-recipe/pineapple-juice-recipe.jpg\" height='200'/>\n    <img src=\"https://d24pyncn3hxs0c.cloudfront.net/sites/default/files/styles/productimage_325/public/choco-truffle-half-kg-cake-A.jpg\" height='200'/>\n    <br/><b>Right-click one of the above images and select Copy image location and paste the URL in the box below OR<br>Do an image search for food. After you click on an image, to the right it usually says \"View image\" click that to get the URL!</b><br/>\n    <br><br/><b>Image URL:</b><input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>","output":"str","x":452,"y":98,"wires":[["22bab5a7.2105aa"]]},{"id":"12d7882e.b11f5","type":"function","z":"d3565091.2025d8","name":"Set Image URL and Classifier details","func":"msg.payload= msg.payload.imageurl;\nmsg.params={};\nmsg.params[\"classifier_ids\"]=\"food\";\nreturn msg;","outputs":1,"noerr":0,"x":503,"y":197,"wires":[["615e5f69.d9f968"]]},{"id":"615e5f69.d9f968","type":"visual-recognition-v3","z":"d3565091.2025d8","name":"","apikey":"","image-feature":"classifyImage","lang":"en","x":147,"y":371,"wires":[["8edc6464.ae8028","208e385.1c83448"]]},{"id":"902548cb.9c6fc8","type":"switch","z":"d3565091.2025d8","name":"Check image url","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":135,"y":194,"wires":[["3119169b.d4f46a"],["12d7882e.b11f5"]]},{"id":"c16da2de.eca9f8","type":"template","z":"d3565091.2025d8","name":"Display Analyzed Food Image & Nutritional Information","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n<h1>Calorie Counter App using Watson Visual Recognition</h1>\n<h3>Simplify your calorie counting using Watson Visual Recognition!</h3>\n    <p>Analyzed image: {{result.images.0.resolved_url}}<br/><img id=\"image\" src=\"{{result.images.0.resolved_url}}\" height=\"200\"/></p>\n    <p>Images Processed: {{result.images_processed}}</p>\n    <h2>Watson Sees..</h2>\n    <table border='1'>\n        <thead><tr><th>Classes</th><th>Confidence Score</th></tr></thead>\n        {{#result.images.0.classifiers.0.classes}}<tr>\n        <td>{{class}}</td><td>{{score}}</td>\n        </tr>{{/result.images.0.classifiers.0.classes}}\n    </table>\n    <h2>Nutritional Information</h2>\n    <table border='1'>\n        <thead><tr><th>ITEM NAME</th><th>CALORIES</th><th>TOTAL FAT</th><th>SERVING QUANTITY</th><th>SERVING SIZE UNIT</th></tr></thead>\n        {{#payload.hits.0.fields}}<tr>\n        <td>{{item_name}}</td><td>{{nf_calories}}</td><td>{{nf_total_fat}}</td><td>{{nf_serving_size_qty}}</td><td>{{nf_serving_size_unit}}</td>\n        </tr>{{/payload.hits.0.fields}}\n        {{#payload.hits.1.fields}}<tr>\n        <td>{{item_name}}</td><td>{{nf_calories}}</td><td>{{nf_total_fat}}</td><td>{{nf_serving_size_qty}}</td><td>{{nf_serving_size_unit}}</td>\n        </tr>{{/payload.hits.1.fields}}\n        {{#payload.hits.2.fields}}<tr>\n        <td>{{item_name}}</td><td>{{nf_calories}}</td><td>{{nf_total_fat}}</td><td>{{nf_serving_size_qty}}</td><td>{{nf_serving_size_unit}}</td>\n        </tr>{{/payload.hits.2.fields}}\n        {{#payload.hits.3.fields}}<tr>\n        <td>{{item_name}}</td><td>{{nf_calories}}</td><td>{{nf_total_fat}}</td><td>{{nf_serving_size_qty}}</td><td>{{nf_serving_size_unit}}</td>\n        </tr>{{/payload.hits.3.fields}}\n        {{#payload.hits.4.fields}}<tr>\n        <td>{{item_name}}</td><td>{{nf_calories}}</td><td>{{nf_total_fat}}</td><td>{{nf_serving_size_qty}}</td><td>{{nf_serving_size_unit}}</td>\n        </tr>{{/payload.hits.4.fields}}\n    </table>\n    <form  action=\"/foodDetails\" method=\"get\">\n        <br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n    </form>\n</center>","output":"str","x":700,"y":369,"wires":[["22bab5a7.2105aa"]]},{"id":"4a80b8fc.853fc8","type":"http request","z":"d3565091.2025d8","name":"Nutritionix API","method":"GET","ret":"obj","url":"https://api.nutritionix.com/v1_1/search/{{{text}}}?fields=item_name%2Citem_id%2Cbrand_name%2Cnf_calories%2Cnf_total_fat&appId={{{appId}}}&appKey={{{appKey}}}","tls":"","x":670.5,"y":551,"wires":[["c16da2de.eca9f8"]],"inputLabels":["msg.payload"]},{"id":"8edc6464.ae8028","type":"change","z":"d3565091.2025d8","name":"Set Nutritionix API Details and Analyzed Image","rules":[{"t":"set","p":"text","pt":"msg","to":"result.images[0].classifiers[0].classes[0].class","tot":"msg"},{"t":"set","p":"appId","pt":"msg","to":"Replace with your Nutritionix APP ID","tot":"str"},{"t":"set","p":"appKey","pt":"msg","to":"Replace with your Nutritionix APP KEY","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":353.5,"y":553,"wires":[["4a80b8fc.853fc8"]]},{"id":"208e385.1c83448","type":"delay","z":"d3565091.2025d8","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":363.5,"y":374,"wires":[["c16da2de.eca9f8"]]}]