Visual_Recognition_Minilab/calorie-counter-nodered-flow
[{"id":"b15a7647.c36708","type":"http request","z":"ef7bbbef.97f8b","name":"Nutritionix API","method":"GET","ret":"obj","url":"https://api.nutritionix.com/v1_1/search/{{{text}}}?fields=item_name%2Citem_id%2Cbrand_name%2Cnf_calories%2Cnf_total_fat&appId={{{appId}}}&appKey={{{appKey}}}","tls":"","x":692.5,"y":537,"wires":[["bcbe8ea3.5a573"]],"inputLabels":["msg.payload"]},{"id":"b7ca24a0.499168","type":"http in","z":"ef7bbbef.97f8b","name":"","url":"/foodDetails","method":"get","upload":false,"swaggerDoc":"","x":140,"y":60,"wires":[["4694e688.8c18f8"]]},{"id":"98d50524.f5b75","type":"http response","z":"ef7bbbef.97f8b","name":"","statusCode":"","headers":{},"x":859,"y":106,"wires":[]},{"id":"31052340.c810b4","type":"template","z":"ef7bbbef.97f8b","name":"HTML form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Calorie Counter App using Watson Visual Recognition</h1>\n<h2>Simplify your calorie counting using Watson Visual Recognition!</h2>\n<form  action=\"/foodDetails\" method=\"get\">\n    <img src=\"https://i.ytimg.com/vi/x7AB2KXFTEY/hqdefault.jpg\" height='200'/>\n    <img src=\"https://www.ndtv.com/cooks/images/Chicken-Reshmi-Biryani_620.jpg\" height='200'/>\n    <img src=\"http://s3-ap-southeast-1.amazonaws.com/gounesco.com/wp-content/uploads/2017/04/26170512/gj-1024x549.jpg\" height='200'/>\n    <img src=\"http://www.vegrecipesofindia.com/wp-content/uploads/2009/08/dhaba-style-dal-fry-recipe-0.jpg\" height='200'/>\n    <img src=\"http://www.seriouseats.com/recipes/images/2016/03/20160328-channa-masala-recipe-6-1500x1125.jpg\" height='200'/>\n    <img src=\"http://www.ruchiskitchen.com/wp-content/uploads/2016/12/spicy-peanut-noodles-recipe-14.jpg\" height='200'/>\n    <img src=\"https://truffle-assets.imgix.net/67ce1315-104-icecream-dishland2.jpg\" height='200'/>\n    <img src=\"http://cdn2.foodviva.com/static-content/food-images/pineapple-recipes/pineapple-juice-recipe/pineapple-juice-recipe.jpg\" height='200'/>\n    <img src=\"https://d24pyncn3hxs0c.cloudfront.net/sites/default/files/styles/productimage_325/public/choco-truffle-half-kg-cake-A.jpg\" height='200'/>\n    <br/><b>Right-click one of the above images and select Copy image location and paste the URL in the box below OR<br>Do an image search for food. After you click on an image, to the right it usually says \"View image\" click that to get the URL!</b><br/>\n    <br><br/><b>Image URL:</b><input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>","output":"str","x":474,"y":84,"wires":[["98d50524.f5b75"]]},{"id":"4b9a255.cf3785c","type":"function","z":"ef7bbbef.97f8b","name":"Set Image URL and Classifier details","func":"msg.payload= msg.payload.imageurl;\nmsg.params={};\nmsg.params[\"classifier_ids\"]=[\"food\"];\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":183,"wires":[["353f0bce.12fb24","570d08bf.630f6"]]},{"id":"353f0bce.12fb24","type":"visual-recognition-v3","z":"ef7bbbef.97f8b","name":"","apikey":"","image-feature":"classifyImage","lang":"en","x":169,"y":357,"wires":[["38b4da83.6b8d4e","712d41ff.3fd15"]]},{"id":"4694e688.8c18f8","type":"switch","z":"ef7bbbef.97f8b","name":"Check image url","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":157,"y":180,"wires":[["31052340.c810b4"],["4b9a255.cf3785c"]]},{"id":"bcbe8ea3.5a573","type":"template","z":"ef7bbbef.97f8b","name":"Display Analyzed Food Image & Nutritional Information","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n<h1>Calorie Counter App using Watson Visual Recognition</h1>\n<h3>Simplify your calorie counting using Watson Visual Recognition!</h3>\n    <p>Analyzed image: {{result.images.0.resolved_url}}<br/><img id=\"image\" src=\"{{result.images.0.resolved_url}}\" height=\"200\"/></p>\n    <p>Images Processed: {{result.images_processed}}</p>\n    <h2>Watson Sees..</h2>\n    <table border='1'>\n        <thead><tr><th>Classes</th><th>Confidence Score</th></tr></thead>\n        {{#result.images.0.classifiers.0.classes}}<tr>\n        <td>{{class}}</td><td>{{score}}</td>\n        </tr>{{/result.images.0.classifiers.0.classes}}\n    </table>\n    <h2>Nutritional Information</h2>\n    <table border='1'>\n        <thead><tr><th>ITEM NAME</th><th>CALORIES</th><th>TOTAL FAT</th><th>SERVING QUANTITY</th><th>SERVING SIZE UNIT</th></tr></thead>\n        {{#payload.hits.0.fields}}<tr>\n        <td>{{item_name}}</td><td>{{nf_calories}}</td><td>{{nf_total_fat}}</td><td>{{nf_serving_size_qty}}</td><td>{{nf_serving_size_unit}}</td>\n        </tr>{{/payload.hits.0.fields}}\n        {{#payload.hits.1.fields}}<tr>\n        <td>{{item_name}}</td><td>{{nf_calories}}</td><td>{{nf_total_fat}}</td><td>{{nf_serving_size_qty}}</td><td>{{nf_serving_size_unit}}</td>\n        </tr>{{/payload.hits.1.fields}}\n        {{#payload.hits.2.fields}}<tr>\n        <td>{{item_name}}</td><td>{{nf_calories}}</td><td>{{nf_total_fat}}</td><td>{{nf_serving_size_qty}}</td><td>{{nf_serving_size_unit}}</td>\n        </tr>{{/payload.hits.2.fields}}\n        {{#payload.hits.3.fields}}<tr>\n        <td>{{item_name}}</td><td>{{nf_calories}}</td><td>{{nf_total_fat}}</td><td>{{nf_serving_size_qty}}</td><td>{{nf_serving_size_unit}}</td>\n        </tr>{{/payload.hits.3.fields}}\n        {{#payload.hits.4.fields}}<tr>\n        <td>{{item_name}}</td><td>{{nf_calories}}</td><td>{{nf_total_fat}}</td><td>{{nf_serving_size_qty}}</td><td>{{nf_serving_size_unit}}</td>\n        </tr>{{/payload.hits.4.fields}}\n    </table>\n    <form  action=\"/foodDetails\" method=\"get\">\n        <br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n    </form>\n</center>","output":"str","x":722,"y":355,"wires":[["98d50524.f5b75"]]},{"id":"38b4da83.6b8d4e","type":"change","z":"ef7bbbef.97f8b","name":"Set Nutritionix API Details and Analyzed Image","rules":[{"t":"set","p":"text","pt":"msg","to":"result.images[0].classifiers[0].classes[0].class","tot":"msg"},{"t":"set","p":"appId","pt":"msg","to":"329e10d4","tot":"str"},{"t":"set","p":"appKey","pt":"msg","to":"3b3950b138bd6c7f3e84226076c337a7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":375.5,"y":539,"wires":[["b15a7647.c36708"]]},{"id":"712d41ff.3fd15","type":"delay","z":"ef7bbbef.97f8b","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":385.5,"y":360,"wires":[["bcbe8ea3.5a573"]]},{"id":"570d08bf.630f6","type":"debug","z":"ef7bbbef.97f8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":280,"wires":[]}]